# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\厦大李老师\信息熵\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
